[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=toh-TMP007
Exec=toh-TMP007
Name=toh-TMP007
# translation example:
# your app name in German locale (de)
Name[de]=toh-TMP007

